<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aichess.jumpjump"
      android:versionCode="11" android:versionName="1.8.2">
    <application android:icon="@drawable/icon" android:debuggable="true" android:label="@string/app_name">
        <activity android:name="SuperJumperAndroid"
                  android:label="@string/app_name"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- AdView SDK for AdMob -->
		<activity android:name="com.admob.android.ads.AdMobActivity" 
    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    	android:configChanges="orientation|keyboard|keyboardHidden"/>
    
    	<!-- AdView SDK for millennialmedia -->
    	<activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity" />
    	<activity android:name="com.millennialmedia.android.VideoPlayer"  />
    	
    	<!-- AdView SDK for Wooboo -->
    	<meta-data android:value="1" android:name="Market_ID"/>
    	<!-- AdView SDK for Youmi --> 
    	<activity android:name="net.youmi.android.AdActivity"
				  android:configChanges="keyboard|keyboardHidden|orientation"/>
    </application>
	
	<!-- AdView permission add -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="4"></uses-sdk>

</manifest> 